---
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Frau Katerina's website" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <script is:inline>
      const DARK_THEME_CLASS = "dark";
      const html = document.querySelector("html");

      function initializeTheme() {
        const storedTheme = window.localStorage.getItem("theme") ?? "";

        if (storedTheme === DARK_THEME_CLASS) {
          html.classList.add(DARK_THEME_CLASS);
        } else {
          html.classList.remove(DARK_THEME_CLASS);

          if (!html.classList.length) {
            html.removeAttribute("class");
          }
        }
      }

      initializeTheme();
    </script>
  </head>
  <body>
    <main>
      <NavigationBar />
      <slot />
      <Footer />
    </main>
  </body>
</html>
